.mat-form-field-disabled .mat-form-field-infix {
    border: none !important;
    border-top-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}
.mat-select-arrow {
    /* width: 0; */
    height: 0 !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
}
.mat-form-field-suffix {
    display: none !important;
}
.btn-width{
    margin-top: 7px;
    margin-right: 10px;
    width: 320px;
    background: #ab7253;
    border-radius: 0px !important;
}
.check-rejection{
    font-size: 18px;
    color: #444f57;
    float:right;
}

.back-btn{
    text-align: left;
 }
 .back-text{
    line-height: 2;
    display: inline-block;
    float: left;
    padding-left: 5px;
}
// .back-row{
//     border-bottom: 1px solid #ddd;
//     margin-left: 43px;
//     margin-right: 43px;
//     padding: 12px 0 5px 0;
// }
.back-row{
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
}
 .back{
     background-color: #ab7253;
 }
 .mt-5, .my-5 {
     margin-top: 1rem!important;
 }
 .back-arrow{
    background-color: #ab7253;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 3px;
    font-size: 19px;
    font-weight: 600;
}