<!-- Footer -->
<footer class="footer page-footer font-small" id="foot">
    <!-- <div class="footer-copyright text-center py-2">© 2018 Copyright:
      <a href="https://sdrc.co.in"> cci.org</a>
    </div> -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 support">
            <span class="supprt">Supported by<a href="https://www.unicef.org/" target="_blank"><img src="assets\img\logos\unicef-white.png" alt="unicef"></a></span>
          </div>
          <div class="col-md-6 power">
            <span class="powr">Powered by<a href="https://sdrc.co.in/" target="_blank">SDRC</a></span>
          </div>
      </div>
    </div>


</footer>
<!-- Footer -->

<!-- <footer id="foot" class="footer">
  <div class="container-fluid footer-contain">
    <div class="row">
      <div class="col-md-6 footer-left">
        <span>&copy; SDRC Pvt.Ltd.</span>
      </div>        
      <div class="col-md-6 footer-right">          
        <span>Powered by</span>
        <a class="footer-sdrc" href="https://sdrc.co.in/"><span>SDRC</span></a>
      </div>
    </div>
  </div>
</footer> -->