<h2 mat-dialog-title>Change Password</h2>
<form [formGroup]="changePasswordForm" (submit)="changePassword()">
<mat-dialog-content class="mat-typography">
  <div class="reason-form">
    <mat-form-field class="textfield-full-width">
      <input id="newPass" matInput type="password" maxlength="10" formControlName="password" placeholder="New Password"/>
      <mat-error>
        Please provide new password.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="textfield-full-width">
        <input id="confirmPass" matInput type="password" maxlength="10"  formControlName="confirmPassword" placeholder="Confirm Password"/>
        <mat-error *ngIf="changePasswordForm.get('confirmPassword').errors?.required">
          Please provide confirm password.
        </mat-error>
        <mat-error *ngIf="changePasswordForm.get('confirmPassword').errors?.doesMatchPassword">
         Did not match the confirm password.
        </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  type="submit" cdkFocusInitial >Submit</button>
</mat-dialog-actions>
</form>